<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/<%-css%>.css">
    <link href="https://fonts.googleapis.com/css?family=Chicle|Gloria+Hallelujah|Press+Start+2P|Satisfy" rel="stylesheet">
<body>
<div class="navbar">
        <img style="width:64px;float:left" src="/media/castor.png" >
    <ul style="height:50px">

        <li><a href="/accueil">Accueil</a></li>

        <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Dofus</a>
                <div class="dropdown-content">
                  <a href="/dofus/ocre">Dofus Ocre</a>
                  <a href="/dofus/exo">Exo PA</a>
                </div>
              </li>

        <li><a href="rpg">Test RPG</a></li>

        <li><a href="lien">Lien Utile</a></li>

        <li><a href="connexion">Connexion</a></li>
</ul>
</div>

</body>
</html>

